@media screen and (max-width: 1000px) {
    .list{
        flex-direction: column;
    }
    header{
        height: 62.5vh;
    }
    .intro{
        font-size: 15px;
    }
    .flex p{
        font-size: 15px;
    }
}
