@import url('https://fonts.googleapis.com/css2?family=Lora&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

*{
    margin: 0;
    padding: 0;
}
main{
    background-color: #ADC4CE;
}
header {
    height: 100vh;
    background-color: #279EFF;
}
.container h1{
    font-size: 6rem;
    color:  #192222;
    font-family: "Sacramento", cursive;
}
.container h2{
    margin-bottom: 40px;
    font-size: 4rem;
    color:  #192222;
    font-family: "Sacramento", cursive;
}
.box img{
    width: 56.5vw;
}
.profile img{
    margin-top: 60px;
    height: 30vh;
    border-radius: 50%;
}
.profile h2{
    font-size: 2rem;
    margin-top: 25px;
    color:  #105c5c;
    font-family: 'Roboto', sans-serif;
}
.intro{
    margin: auto;
    font-family: 'Barlow', sans-serif;
    margin-top: 25px;
    font-size: 22px;
}
footer{
    height: 15vh;
    background-color: #279EFF;
    margin-top: 35px;
}
.flex p{
    margin: auto;
    font-family: 'Barlow', sans-serif;
    margin-top: 25px;
    font-size: 22px;
    margin-left: 20px;
}
.box2{
    margin-top: 40px;
}
.link{
    margin: auto;
    font-family: 'Barlow', sans-serif;
    margin-top: 5px;
    font-size: 22px;
    margin-left: 20px;
}
.link a{
    text-decoration: none;
}
.work h3{
    margin-top: 20px;
}
.about p{
    margin-top: 20px;
}
.list {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.list li{
    list-style: none;
}
footer p{
    padding-top: 40px;
    color:  #192222;
    font-family: 'Roboto', sans-serif;

}

